﻿@using System.Web.UI.WebControls
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<QuickAI.UI.Models.Tweet>
@{
    ViewBag.Title = "Database Content";
}
<h2>
    Database QuickAI
</h2>
<div>
    <a>
        @Model.Count() revievs from Database.
        @ViewBag.DateToday
    </a>
</div>
<legend>Search by date</legend>
@using (Html.BeginForm("Filter", "TweetInformation", FormMethod.Get))
{
    <div id="name">
         <span class="text-capitalize">From : </span><input type="text" name="from" class="glyphicon-search" value="" placeholder="YY-MM-DD (requiere)" Required />
           <span>To : </span><input type="text" name="to" value="" placeholder="YY-MM-DD  (optional)" />
        <input type="submit" name="name" value="Filter" />
     </div>
}

@using (Html.BeginForm("Refresh", "TweetInformation", FormMethod.Get))
{
    <input type="submit" value="Refresh" name="Refresh" id="Refresh" class="btn btn-block btn-primary" style="width:auto" />
}
<button value="Zapisz" id="saveBtn" class="btn btn-block btn-success" style="width:10%">Insert</button>
<table id="tweetTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Id_Tweet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ID_User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().User_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Portal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Human_rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Neural_rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Date_Inserted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Tweet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Portal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Human_rating)
                    @Html.TextBox("Human_rating" + item.Id, item.Human_rating, new { @class = "Human_rating", @PlaceHolder = "Rate", @data_id = item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Neural_rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Inserted)
                </td>
                <td>
                    <a href="@Url.Action("Delete", "TweetInformation",
                              new
                              {
                                  id = item.Id
                              })" class="btn btn-danger" onclick="return confirm('This will result in deletion from the database\r\n.')">Delete</a>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#tweetTable').DataTable();
    });

    $("#saveBtn").on("click", function () {
        var komunikat = '';
        $(".Human_rating").each(function () {
            var id = $(this).attr("data-id");

            $.ajax({
                url: "@Url.Action("Insert")",
                data: {
                    id: id,
                    Human_rating: $("#Human_rating" + id).val()
                },
                success: function (result) {
                    //alert(result);
                },
                error: function () {
                    //alert('Nie udało się zapisać! '+id);
                    komunikat += 'Error ' + id;
                }
            });
        });
        alert('Inserted to Database ' + komunikat);
    });
</script>